table, th, td{
    /* border: 1px solid #000; */
    border-collapse: collapse;
}

th, td{
    padding: 10px 5px;
}

th{
    background-color: #ccc;
}

a{
    color: #000;
}

table {
    width: 100%;
    text-align: center;
}

.addNew{
    float: right;
    padding: 5px 10px;
    color: #eee;
    background-color: #4C60DA;
    margin: 10px 0;
    border-radius: 5px;
}

.actionIcon{
    padding: 5px;
}
.editIcon{
    color: #4C60DA;
}
.deleteIcon{
    color: red;
}

.infoIcon{
    color: #4C60DA;
}

.img-product{
    width: 100px;
}